<!--Admin Text -->
<section class="container-fluid bg-danger text-center p-2">
  <h1>Panel de Administrador</h1>
</section>
<!--Admin Text -->

<!-- breadcrumb -->
<nav aria-label="breadcrumb" class="mb-2 bg-principal-color">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Panel Administrador</li>
    </ol>
  </nav>
</nav>
<!-- breadcrumb -->

<!-- Edit/Create Brand -->
<section class="container my-3 bg-dark p-3">
  <header class="text-center mb-2 border border-bottom p-3">
    <h2>Gestión de las marcas</h2>
  </header>

  <%= link_to "Añadir Marca", admin_newBrand_path ,class:"btn btn-primary"%>

  <table class="table table-responsive-sm table-light mt-3">
    <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Editar</th>
    </thead>

    <tbody>
      <%  @brands.each do |brand| %>
        <tr>
          <td><%= brand.id %></td>
          <td><%= brand.name %></td>
          <td>
            <%= link_to "Editar", editBrand_path(brand.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<!-- Edit/Create Brand -->

<!-- Edit/Create Brand -->
<section class="container my-3 bg-dark p-3">
  <header class="text-center mb-2 border border-bottom p-3">
    <h2>Gestión del Stock</h2>
  </header>

  <%= link_to "Añadir Producto", admin_newProduct_path ,class:"btn btn-primary"%>

  <table  class="table table-responsive-sm table-light mt-3">
    <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Marca</th>
    <th>Precio</th>
    <th>Descuento</th>
    <th>Producto Destacado</th>
    <th>Producto Rebajado</th>
    <th>Gestionar tallas</th>
    <th>Opciones</th>
    </thead>
    <tbody>

      <%  @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= Brand.find(product.brand_id).name %></td>
          <td><%= product.price %></td>
          <td><%= product.discount %></td>

          <td>
            <% if product.isDestacado == true  %>
              <i class="material-icons">done_outline</i>
              <% else %>
              <i class="material-icons">close</i>
          <% end %>
          </td>

          <td>
            <% if product.isSale == true  %>
              <i class="material-icons">done_outline</i>
            <% else %>
              <i class="material-icons">close</i>
            <% end %>
          </td>

          <td>
            <%= link_to "Gestionar", manageSize_path(product.id) %>
          </td>

          <td>
            <%= link_to "Editar", editProduct_path(product.id) %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>


</section>
<!-- Edit/Create Brand -->

<!-- Stock manage -->
<section class="container my-3 bg-dark p-3">

  <header class="text-center mb-2 border border-bottom p-3">
    <h2>Ventas</h2>
  </header>

  <table class="table table-responsive-sm table-light mt-3">
    <thead>
    <th>ID</th>
    <th>Fecha</th>
    <th>Cantidad</th>
    <th>Ver</th>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>10-10-2019</td>
      <td>400$</td>
      <td>
        <a href="#" class="material-icons">forward</a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>10-9-2019</td>
      <td>400$</td>
      <td>
        <a href="#" class="material-icons">forward</a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>10-8-2019</td>
      <td>400$</td>
      <td>
        <a href="#" class="material-icons">forward</a>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>10-6-2019</td>
      <td>400$</td>
      <td>
        <a href="#" class="material-icons">forward</a>
      </td>
    </tr>

    </tbody>
  </table>

  <!-- Information Package-->
  <div id="packageDetails" class="mt-4 container text-center border p-3">

    <h4 class="my-3">Artículos</h4>
    <table class="table table-light table-responsive-md">

      <thead>
      <tr>
        <th scope="col">Artículo</th>
        <th scope="col">Talla</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Unidad</th>
        <th scope="col">Total</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><a href="product.html"><img src="img/jordan_photo.jpg" alt="" class="photo-table"></a></td>
        <td>43</td>
        <td>2</td>
        <td>20$</td>
        <td>40$</td>
      </tr>
      <tr>
        <td><a href="product.html"><img src="img/jordan_photo.jpg" alt="" class="photo-table"></a></td>
        <td>43</td>
        <td>2</td>
        <td>20$</td>
        <td>40$</td>
      </tr>
      <tr>
        <td><a href="product.html"><img src="img/jordan_photo.jpg" alt="" class="photo-table"></a></td>
        <td>43</td>
        <td>2</td>
        <td>20$</td>
        <td>40$</td>
      </tr>
      </tbody>
    </table>

    <div class="row justify-content-center align-items-center container mx-auto">

      <div class="col-12 my-3 border p-2">
        <h5>Dirección</h5>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores corporis omnis aspernatur quae cupiditate saepe soluta iure vel explicabo itaque.
      </div>
      <div class="col-6 my-3 border p-2">
        <h5>Método de envío</h5>
        Entrega Normal
      </div>
      <div class="col-6 my-3 border p-2">
        <h5>Método de Pago</h5>
        Tarjeta
      </div>

    </div>

  </div>
  <!-- Information Package-->

</section>
<!-- Stock manage -->