<section class="container-fluid my-0 py-2 text-center bg-danger">
  <h1>Creación de una marca</h1>
</section>

<nav aria-label="breadcrumb" class="mb-2 bg-principal-color">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Panel Administrador",  admin_index_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Crear Marca</li>
    </ol>
  </nav>
</nav>

<section class="container-fluid">
  <h2>Datos de la marca</h2>

  <%= form_for @brand, url: api_v1_brands_path, hmtl: { class: "border p-3" } do |f| %>

    <% if @brand.errors.any? %>
      <% @brand.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"> <%= msg %></div>
      <% end %>
    <% end %>

    <div class="form-group">
      <label for="productName" class="col-12 col-form-label">Nombre</label>
      <div class="col-12">
        <%= f.text_field :name, class:'form-control'%>
      </div>
    </div>

    <div class="form-group">
      <label for="productName" class="col-12 col-form-label">Foto</label>
      <div class="col-12">
        <%= f.file_field :image, class:'form-control-file'%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-offset-2 col-10">
        <%= f.submit "Crear marca", class:"btn btn-success"%>
        <%= link_to "Volver atrás", :back ,class:"btn btn-primary"%>
      </div>
    </div>

  <% end %>
</section>